.headerContainer {
  margin-right: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.header {
  width: 243px;
  height: 38px;
  background: #F3F4F6;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.header button {
  border: none;
  color: #4D5562;
  border-radius: 5px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}



.header button:focus {
  background-color: #FFFFFF;
  border: 1px solid #E2E3E5;
}

.runtimeBtn {
  width: 108px;
  height: 36px;
}

.constructorBtn {
  width: 133px;
  height: 36px;
}

.eyeImg {
  background-image: url('/src/asset/eye.svg');
  background-repeat : no-repeat;
  width: 20px;
  height: 20px;
  padding-left: 20px;
}
.constructorImg {
  background-image: url('/src/asset/constructor.svg');
  background-repeat : no-repeat;
  width: 20px;
  height: 20px;
  padding-left: 20px;
}


