.opBtnContainer {
  margin-top: 12px;
  width: 240px;
  height: 56px;

  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06), 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  border-radius: 4px;
}

.opBtn {
  width: 52px;
  height: 48px;
  margin: 4px 4px;
  /*padding: 0;*/

  background: #FFFFFF;
  border: 1px solid #E2E3E5;
  border-radius: 6px;

  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.opBtn:active {
  color: #FFFFFF;
  background-color: #5D5FEF;
}